spring:
  application:
    name: loan-management-system
  profiles:
    active: dev
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        format_sql: true
        default_schema: public
    open-in-view: false

server:
  port: 8080

app:
  jwt:
    secret: ${JWT_SECRET:default-secret-key-at-least-256-bits-for-hs256-algorithm}
    expiration-ms: 86400000

logging:
  level:
    root: INFO
    com.shotaroi.loan: INFO
    org.springframework.security: WARN
