spring:
  datasource:
    url: jdbc:tc:postgresql:16-alpine:///loan_management
    driver-class-name: org.testcontainers.jdbc.ContainerDatabaseDriver
  jpa:
    hibernate:
      ddl-auto: validate
  flyway:
    enabled: true
    locations: classpath:db/migration

logging:
  level:
    root: WARN
    com.shotaroi.loan: INFO
